[Unit]
Description=zabbix to mattermost action service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/bin/chattixd --config /etc/chattix/chattixd.conf
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
